
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

nav {
    padding: 10px 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #478b7e;
    text-align: center;
    padding: 15px 15px 20px 15px;
    bottom: 0;
    margin: 20px 0 0 0;
}

footer a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 30px;
    color: black;
    margin: 4px 0;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: black;
    margin: 2px 0;
}

h3 {
    font-size: 18px;
    color: black;
    margin: 2px 0;
}

h4 {
    font-size: 15px;
    color: black;
    margin: 1px 0;
}

hr {
    border: 0;
    clear: both;
    display: block;
    background-color: #ccc;
    height: 1px;
    margin: auto;
    max-width: 1000px;
}

p {
    margin: 0;
}

a, p {
    color: black;
    font-size: 15px;
}

li {
    margin: 10px 0;
}

.underline-hr {
    margin: 10px 0;
}

.button {
    background-color: #4d9b8e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: rgba(77, 155, 142, 1);
}

.my-programm-img {
    height: 50px;
    width: 50px;
}

.my-programm-img-small {
    height: 30px;
    width: 30px;
}

.head {
    width: 100%;
    background-color: white;
}

.head img {
    height: auto;
}

.logo {
    width: 50%;
    max-width: 300px;
    float: left;
    padding: 20px;
}

.lang {
    border: 1px solid #ccc;
    width: 30%;
    max-width: 50px;
    float: right;
    margin-right: 3px;
    margin-left: 3px;
}

.lang-small {
    border: 1px solid #ccc;
    width: 10%;
    max-width: 50px;
    float: right;
    margin-right: 3px;
    margin-left: 3px;
}

.headline-container {
    position: relative;
    text-align: center;
    color: white;
    white-space: nowrap;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    margin: 10px auto;
    max-width: 1000px;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 10px;
}

.sub-container {
    margin: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.container-inline {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container-inline-next {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    white-space: nowrap
}

.container-inline-next-center {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap
}

.container-inline > * {
    /* Ensuring no two elements are farther apart than 100px */
    margin-right: 10px; /* Adjust this value based on your requirements */
}

.container-inline > :last-child {
    margin-right: 0; /* Remove margin for the last child to avoid unnecessary spacing */
}

.container-headline {
    text-decoration: none;
    color: black;

    font: 20px Arial, sans-serif;
}

.search-bar {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.search-bar:focus {
    outline: none;
    border: 1px solid #4d9b8e;
}

.search-bar:invalid {
    background: red !important;
}

.search-bar:valid {
    background: white;
}

.search-button {
    background-color: #4d9b8e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    height: 20px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: 25px;
}


.a-link {
    text-decoration: none;
    color: black;
}

.a-link p {
    margin: 0;
    padding: 0;
}

.a-link:hover p {
    text-decoration: underline;
}

.hidden-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.small-time {
    font-size: 12px;
    color: grey;
}

.location {
    font-size: 15px;
    color: grey;
}

.description-section {
    margin-top: 10px;
    font-size: 15px;
}

.description-section br {
    content: "";
    margin: 20px;
    display: block;
}

select {
    /*background: url("/static/img/de.png") center no-repeat;*/
    /*background-size: 100%;*/
    /*width: 60px;*/
    /*height: 32px;*/
    text-align: right;
    border: 0;
    background: white center;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navbar {
    background-color: white;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid gray;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures it stays above other content */
}

.webapp-icon {
    width: 18px;
    vertical-align: middle;
    margin-left: 8px;
}