<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CBT2024</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="#bfa24f">

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="head">
    <a href="/{{lang}}"><img class="logo" src="/static/img/logo.png"></a>

    <select id="language-select">
        <option value="de" title="Deutsch">Deutsch</option>
        <option value="hu" title="Magyar">Magyar</option>
        <option value="sk" title="Slovenský">Slovenský</option>
        <option value="pl" title="Polski">Polski</option>
        <option value="cz" title="Český">Český</option>
    </select>
    <img id="lang" class="lang" src="/static/img/{{lang}}.png">

</div>

{% block content %}
{% endblock %}

<script>

    window.onload = function () {
        document.getElementById('language-select').value = '{{lang}}';
    }

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    document.getElementById('language-select').addEventListener('change', function () {
        setCookie('lang', this.value, 365)

        let path = window.location.pathname
        let split_path = path.split('/')
        if (split_path.length == 0) {
            location = this.value
            return
        }
        split_path.shift()
        if (split_path[0].length === 2) {
            split_path.shift()
        }
        split_path.unshift(this.value)
        location = '/' + split_path.join('/')
    })
</script>

</body>
</html>