<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Christliche Begegnungstage 2024 - Programm für die CBT 2024</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="white">

    <link rel="alternate" hreflang="pl" href="https://cbt2024.de/pl">
    <link rel="alternate" hreflang="sk" href="https://cbt2024.de/sk">
    <link rel="alternate" hreflang="hu" href="https://cbt2024.de/hu">
    <link rel="alternate" hreflang="cs" href="https://cbt2024.de/cs">
    <link rel="alternate" hreflang="de" href="https://cbt2024.de/de">

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icon/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/img/icon/favicon.ico">
</head>
<body>
<div class="head">
    <div class="container-inline" style="align-items: center">
        <a class="logo" href="/{{ lang }}"><img style="width: 100%" src="/static/img/logo.png"></a>

        <div class="container-inline" style="max-width: 300px; padding-right: 2%">
            <select id="language-select" style="margin: 1px">
                <option value="de" title="Deutsch">Deutsch</option>
                <option value="hu" title="Magyar">Magyar</option>
                <option value="sk" title="Slovenský">Slovenský</option>
                <option value="pl" title="Polski">Polski</option>
                <option value="cs" title="Český">Český</option>
            </select>
            <img id="lang" class="lang" src="/static/img/{{ lang or 'de' }}.png">
        </div>
    </div>
</div>

<nav class="container-inline navbar">
    <a class="a-link" href="{{ url_for('index', lang=lang) }}"><h3>Home</h3></a>
    {#        <a class="a-link" href="{{ url_for('programm', lang=lang) }}"><h3>{{ "program"|translate(lang or 'de') }}</h3></a>#}
    <a class="a-link" href="https://christlichebegegnungstage.de/programm/" target="_blank">
        <h3>{{ "program_file"|translate(lang or 'de') }}</h3></a>
    <a class="a-link" href="{{ url_for('map', lang=lang) }}"><h3>{{ "map"|translate(lang or 'de') }}</h3></a>
</nav>


{% block content %}
{% endblock %}

<footer>
    <div class="container-inline">
        <a href="https://christlichebegegnungstage.de/"><p>{{ "homepage"|translate(lang or 'de') }}</p></a>
        <a href="https://christlichebegegnungstage.de/impressum/"><p>{{ "impressum"|translate(lang or 'de') }}</p></a>
        <a href="https://christlichebegegnungstage.de/datenschutz/"><p>{{ "privacy"|translate(lang or 'de') }}</p></a>
    </div>
    <br>
    <div class="container-inline">
        <a href="mailto:cbt@p0k.de"><p>Made by PirminHndlg</p></a>
        <p>© 2024 CBT</p>
    </div>
</footer>

<script>
    window.onload = function () {
        document.getElementById('language-select').value = '{{lang}}';
    }

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    document.getElementById('language-select').addEventListener('change', function () {
        setCookie('lang', this.value, 365)

        let path = window.location.pathname
        let split_path = path.split('/')
        if (split_path.length == 0) {
            location = this.value
            return
        }
        split_path.shift()
        if (split_path[0].length === 2) {
            split_path.shift()
        }
        split_path.unshift(this.value)
        location = '/' + split_path.join('/')
    })

    let chosen_file = '/static/img/stern_filled.png'
    let default_file = '/static/img/stern.png'

    function change_my_programm(id, nr) {
        let my_programm = getCookie('my-program')
        let key = nr
        let arr = my_programm.split(',')
        let btn = document.getElementById(id)

        if (btn.src.endsWith(chosen_file)) {
            btn.src = default_file
            arr.splice(arr.indexOf(key), 1)
            setCookie('my-program', arr.join(','), 365)
            return
        } else {
            btn.src = chosen_file
        }

        if (my_programm === '') {
            setCookie('my-program', key, 365)
        } else if (!arr.includes(key)) {
            arr.push(key)
            arr.sort()
            setCookie('my-program', arr.join(','), 365)
        }
    }

    function http(url) {
        //http request, silent means without alert if 404
        try {
            var request = new XMLHttpRequest();
            request.open("GET", url, false);
            request.send(null);

            if (request.status === 404) {
                return
            }
            //console.log(request.responseText)
            return request.responseText;
        } catch (e) {
            console.log(e)
        }
    }
</script>

</body>
</html>