{% extends "base.html" %}

{% block content %}

    {% if file %}
        <div class="container">
            {% if show_title %}

                <h2>{{ title }}</h2>
            {% endif %}

            <div class="spinner" id="spinner"></div>
            <img src="" id="image" alt="{{ title }}" style="width:100%;" onload="hideSpinner()">
        </div>

        <script>
            document.getElementById('image').src = "{{ file }}";

            function hideSpinner() {
                document.getElementById('spinner').style.display = 'none';
                document.getElementById('image').style.display = 'block';
            }
        </script>

    {% else %}
        <h1>error</h1>
    {% endif %}

{% endblock %}