{% extends "base.html" %}

{% block content %}

    <div class="container" style="height: 100vh; overflow-x: auto; overflow-y: hidden">
        <button class="button" onclick="history.back()" style="margin: 10px">{{ 'back'|translate(lang) }}</button>
        <br>

        {% if lang %}
            <div  style="height: 100%; text-align: center;">
                <img src="/static/img/legende_{{ lang }}.png" style="height: 90%">
            </div>
        {% endif %}
    </div>

    <div class="container" style="height: 100vh; overflow-x: auto; overflow-y: hidden; text-align: center">
        <img src="/static/img/map.png" style="height: 100%">
    </div>

{% endblock %}