{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="container-inline">
            <button class="button" onclick="history.back()" style="margin: 10px">{{ 'back'|translate(lang) }}</button>
            <a href="/static/img/legende_{{ lang }}.png" target="_blank">
                <button class="button" style="margin: 10px">{{ 'legende'|translate(lang) }}</button>
            </a>
        </div>
        <br><br>
        {% if lang %}

            {% if location %}

                {% for k, v in location.items() %}
                    <a class="a-link" href="{{ v['link'] if 'link' in v else 'https://google.com' }}" target="_blank">
                        <div class="container-inline">
                            <div class="container-inline-next" style="gap: 10px; align-items: center;">
                                <div class="headline-container" style="text-align: left">
                                    <img style="width: auto; height: 25px"
                                         src="/static/img/{{ 'church_icon.png' if v['type'] == 1 else 'dot_icon.png' }}">
                                    <p class="centered"
                                       style="top: {{ '65%' if v['type'] == 1 else '35%' }}; color: white; font-size: smaller">{{ k }}</p>
                                </div>

                                <div style="white-space: normal">
                                    {{ v[lang].split(',')[0] }}
                                    <br>
                                    <span style="color: #727272">{{ ','.join(v[lang].split(',')[1:]) }}</span>
                                </div>
                            </div>

                            <img class="my-programm-img-small" src="/static/img/maps_icon.jpg">
                        </div>
                    </a>
                    <br>
                {% endfor %}

            {% endif %}

        {% endif %}
    </div>

    <div class="container" style="height: 100vh; overflow-x: auto; overflow-y: hidden; text-align: center">
        <img src="/static/img/map.png" style="height: 100%">
    </div>

{% endblock %}