{% extends "base.html" %}

{% block content %}

    {% if headline %}
        <div class="headline-container">
            <img src="/static/img/background.png" alt="Snow" style="width:100%;">
            <h1 class="centered" style="">{{ headline }}</h1>
        </div>
    {% endif %}

    <br>
    <div class="container container-inline">
        {% if title %}
            <div>
                <h2>{{ title }}</h2>
            </div>
        {% endif %}

        <div class="container-inline-next-center">
            <img src="/static/img/sort_icon.png" alt="filter" style="width: 18px; height: 18px">

            {% set filter_arg = request.args.get('f') %}

            <select id="filter" onchange="filter_changed()">
                <option value="t" {{ 'selected' if filter_arg == 't' }}>{{ "time"|translate(lang) }}</option>
                <option value="l" {{ 'selected' if filter_arg == 'l' }}>{{ "location"|translate(lang) }}</option>
            </select>
        </div>
    </div>

    {% if data != None %}

        {% set data = data|sort_dict(filter_arg) %}
        {% for k,v in data.items() %}
            <div class="container">

                <a href="{{ url_for('programm_point', lang=lang, point=k|to_int) }}" class="a-link">
                    <div class="container-inline">
                        <div style="width: 90%">
                            <div class="container-inline-next" style="gap: 10px">
                                <small>{{ (v['tag']|get_day(lang))['short'] }} {{ v['zeit'] }}</small>
                                <small class="hidden-overflow">📍 {{ v['location-' + lang]['name'] }}</small>
                            </div>
                            <h3 style="" class="">{{ v['titel-' + lang] }}</h3>
                            {% if v['untertitel-' + lang] %}
                                <h4 class="hidden-overflow">{{ v['untertitel-' + lang] }}</h4>
                            {% endif %}
                        </div>

                        <input class="my-programm-img-small" id="my_programm_{{ k }}"
                               onclick="event.preventDefault(); change_my_programm(this.id, {{ k }})"
                               type="image"
                               src="{{ '/static/img/stern.png' if not 'my-program'|get_cookie(k) else '/static/img/stern_filled.png' }}">
                    </div>
                    {#            <small class="">📍 {{ v['location-' + lang]['name'] }}</small>#}
                    <p class="hidden-overflow">{{ v['content-' + lang] }}</p>
                </a>

            </div>
        {% endfor %}
    {% else %}
        <div style="text-align: center">
            <p>Will be added later...</p>
        </div>
    {% endif %}

    <script>
        function filter_changed() {
            let url = window.location.href
            console.log(url)
            if (url.includes('f=')) {
                url = url.replace(/f=[^&]+/, 'f=' + document.getElementById('filter').value)
            } else {
                if (url.includes('?')) {
                    url += '&f=' + document.getElementById('filter').value
                } else {
                    url += '?f=' + document.getElementById('filter').value
                }
            }
            window.location.href = url
        }
    </script>
{% endblock %}