{% extends "base.html" %}

{% block content %}

    <div class="headline-container">
        <img src="/static/img/background.png" alt="Snow" style="width:100%;">
        <h1 class="centered">{{ "search_program"|translate(lang) }}</h1>
    </div>

    <div class="container">
        <div class="container-inline" style="margin: 0 10px; gap: 2px; justify-content: center; align-items: center">
            <!--        <input class="search-button" onclick="console.log('filter')" type="image" src="/static/img/filter_icon.png">-->
            <input class="search-bar" style="width: 80%" type="search" id="filter"
                   placeholder="{{ 'search'|translate(lang) }}"
                   oninput="on_search_input(this.id)">
            <input class="search-button" onclick="on_serach_button()" type="image" src="/static/img/search_icon.png">
        </div>
    </div>

    <div id="search_response">

    </div>

    <div id="content">
        <details class="container" style="cursor: pointer">
            <summary class="container-headline">{{ 'day'|translate(lang) }}</summary>

            {% for i in range(3) %}
                <a href="{{ url_for('programm_section', lang=lang, day=i) }}" class="container-headline">
                    <div class="sub-container">
                        <p>{{ (i|get_day(lang))['long'] }}</p>
                    </div>
                </a>
            {% endfor %}

        </details>

        <!--
        <details class="container">
            <summary class="container-headline">{{ 'location'|translate(lang) }}</summary>
            <a href="{{ url_for('programm_section', lang=lang, day=2) }}" class="container-headline">
                <div class="sub-container">
                    <p>{{ ('2'|get_day(lang))['long'] }}</p>
                </div>
            </a>
        </details>
        -->

        <details class="container" style="cursor: pointer">
            <summary class="container-headline">Sprache</summary>
            {#            <a href="{{ url_for('programm_section', lang=lang, language='de') }}" class="container-headline">#}
            {#                <div class="sub-container">#}
            {#                    <p>Deutsch</p>#}
            {#                </div>#}
            {#            </a>#}
            <a href="{{ url_for('programm_section', lang=lang, language='hu') }}" class="container-headline">
                <div class="sub-container">
                    <p>Magyar</p>
                </div>
            </a>
            <a href="{{ url_for('programm_section', lang=lang, language='sk') }}" class="container-headline">
                <div class="sub-container">
                    <p>Slovenský</p>
                </div>
            </a>
            <a href="{{ url_for('programm_section', lang=lang, language='pl') }}" class="container-headline">
                <div class="sub-container">
                    <p>Polski</p>
                </div>
            </a>
            <a href="{{ url_for('programm_section', lang=lang, language='cs') }}" class="container-headline">
                <div class="sub-container">
                    <p>Český</p>
                </div>
            </a>
        </details>

        <hr>

        <a href="{{ url_for('programm_section', lang=lang, section='bible') }}" class="container-headline">
            <div class="container">
                {{ 'bible'|translate(lang) }}
            </div>

        </a>

        <a href="{{ url_for('programm_section', lang=lang, section='concerts') }}" class="container-headline">
            <div class="container">
                {{ 'concerts'|translate(lang) }}
            </div>
        </a>

        <a href="{{ url_for('programm_section', lang=lang, section='service2') }}" class="container-headline">
            <div class="container">
                {{ 'service2'|translate(lang) }}
            </div>
        </a>

        <a href="{{ url_for('markt', lang=lang) }}" class="container-headline">
            <div class="container">
                {{ 'markt'|translate(lang) }}
            </div>
        </a>

        <a href="{{ url_for('programm_section', lang=lang, section='lectures') }}" class="container-headline">
            <div class="container">
                {{ 'lectures'|translate(lang) }}
            </div>
        </a>

        <a href="{{ url_for('programm_section', lang=lang, section='workshops') }}" class="container-headline">
            <div class="container">
                {{ 'workshops'|translate(lang) }}
            </div>
        </a>

        <a href="{{ url_for('programm_section', lang=lang, section='exhibitions') }}"
           class="container-headline">
            <div class="container">
                {{ 'exhibitions'|translate(lang) }}
            </div>
        </a>

    </div>

    <script>
        function getAllowedCharacters() {
            return http(`/static/data/allowed_chars.txt`)
        }

        function on_serach_button() {
            on_search_input('filter')
            document.activeElement.blur();
        }

        function on_search_input(id) {
            let filter = document.getElementById(id).value.toLowerCase();

            let content = document.getElementById('content');
            let search_response = document.getElementById('search_response');


            if (filter.length == 0) {
                content.hidden = false;
                search_response.hidden = true;
                let input = document.getElementById('filter')
                input.setCustomValidity("");
                input.reportValidity()
                return
            }

            content.hidden = true;
            search_response.hidden = false;

            search_response.innerHTML = '';

            var re = /^[a-zA-Z0-9äöüßÄÖÜéàèáíóúÉÁÍÓÚ?!:.,'" ]+$/;

            if (!re.test(filter)) {
                console.log('Wrong input!')
                let input = document.getElementById('filter')
                input.setCustomValidity('Not allowed character!')
                input.reportValidity()
                return;
            } else {
                let input = document.getElementById('filter')
                input.setCustomValidity("");
                input.reportValidity()
            }


            let lang = "{{lang}}"
            var days = ["{{(0|get_day(lang))['short']}}", "{{(1|get_day(lang))['short']}}", "{{(2|get_day(lang))['short']}}"]

            let url = `/${lang}/search?for=` + encodeURIComponent(filter);
            let json_data = JSON.parse(http(url))

            for (let k in json_data) {
                let v = json_data[k];
                let div = document.createElement('div');
                div.className = 'container';

                let div2 = document.createElement('div');
                div2.className = 'container-inline';

                let div3 = document.createElement('div');
                div3.style.width = '90%';

                let a = document.createElement('a');
                a.href = `${encodeURIComponent(k)}`;
                a.className = 'a-link'

                let div4 = document.createElement('div');
                div4.className = 'container-inline-next';
                div4.style.gap = '10px';

                let s1 = document.createElement('small');
                s1.innerHTML = `${days[v['tag']]} ${v['zeit']}`;
                let s2 = document.createElement('small');
                s2.className = 'hidden-overflow';
                s2.innerHTML = `📍 ${v['location-' + lang]['name']}`;
                let h3 = document.createElement('h3');
                h3.innerHTML = v['titel-' + lang];

                div4.appendChild(s1);
                div4.appendChild(s2);
                a.appendChild(div4);
                a.appendChild(h3);
                div3.appendChild(a);
                div2.appendChild(div3);

                let img = document.createElement('input');
                img.className = 'my-programm-img-small';
                img.id = `my_programm_${k}`;
                img.onclick = function (event) {
                    event.preventDefault()
                    change_my_programm(this.id, k)
                };
                img.type = 'image';
                img.src = v['my-program'] ? '/static/img/stern_filled.png' : '/static/img/stern.png';
                div2.appendChild(img);

                if (v['untertitel-' + lang]) {
                    let h4 = document.createElement('h4');
                    h4.innerHTML = v['untertitel-' + lang];
                    a.appendChild(h4);
                }

                let p1 = document.createElement('p');
                p1.className = "hidden-overflow"
                p1.innerHTML = v['content-' + lang];
                a.appendChild(p1);

                div.appendChild(div2);

                search_response.appendChild(div);
            }
        }
    </script>

{% endblock %}