{% extends "base.html" %}

{% block content %}

{% if title %}
<div class="container">
    <h2>{{title}}</h2>
</div>
{% endif %}

{% for k,v in data.items() %}
<div class="container">

    <a href="{{url_for('programm_point', lang=lang, point=k|to_int)}}" style="text-decoration: none; color: black">
        <div class="">
            <!--            <p class="container-inline-headline">{{v['tag']}}</p>-->
            <p class="">{{v['zeit']}}</p>
            <h3 class="">{{v['titel-' + lang]}}</h3>
        </div>
        <p class="">{{v['location-' + lang]['name']}}</p>
    </a>
</div>
{% endfor %}
{% endblock %}