{% extends "base.html" %}

{% block content %}

    {% if section %}

        <div class="container">
            <div class="container-inline">
                <button class="button" onclick="history.back()">Go Back</button>
                <input class="my-programm-img-small" id="my_programm_{{ section['key'] }}"
                       onclick="change_my_programm(this.id, '{{ section['key'] }}', event)"
                       type="image"
                       src="{{ '/static/img/stern.png' if not 'my-program'|get_cookie(section['key']) else '/static/img/stern_filled.png' }}">
            </div>

            <br>

            <a class="small-time">{{ (section['tag']|get_day(lang))['long'] }} {{ section['zeit'] }}</a>
            <h2>{{ section['titel-'+lang] }}</h2>

            {% if section['untertitel-' + lang] %}
                <h3 class="hidden-overflow">{{ section['untertitel-' + lang] }}</h3>
            {% endif %}

            <p>📍 <a href="{{ url_for('map', lang=lang) }}" class="location"
                    title="{{ section['location-' + lang]['address'] }}">{{ section['location-'
        + lang]['name'] }}</a>
            </p>

            <p class="description-section">{{ section['content-'+lang].replace('\n', '<br>')|safe }}</p>

            {% if section['lang'] %}
                <br>
                <div class="container-inline-next" style="gap: 5px; align-items: center">
                {% for l in section['lang'] %}
                    <img class="lang-small" src="/static/img/{{ l }}.png" alt="flag for {{ l }}">
                {% endfor %}
                </div>
            {% endif %}

        </div>

    {% endif %}

{% endblock %}